cd binutils-2.29.1/

LDFLAGS=-static ./configure                        \
    --build=x86_64-musl-linux-gnu                  \
    --host=x86_64-musl-linux-gnu                   \
    --target=x86_64-musl-linux-gnu                 \
    --with-newlib                                  \
    --without-headers                              \
    --disable-nls                                  \
    --disable-shared                               \
    --disable-multilib                             \
    --disable-decimal-float                        \
    --disable-threads                              \
    --disable-libatomic                            \
    --disable-libgomp                              \
    --disable-libmpx                               \
    --disable-libquadmath                          \
    --disable-libssp                               \
    --disable-libvtv                               \
    --disable-libstdcxx                            \
    --enable-languages=c                           \
    --disable-lto                                  \
    --disable-checking                             \
    --disable-bootstrap

make
make install
cd /usr/local
cd bin
strip -s *
cp * /usr/bin/

