LDFLAGS=-static ../binutils-2.29.1/configure                        \
    --build=aarch64-rpi3B-linux-musl               \
    --host=aarch64-rpi3B-linux-musl                \
    --target=aarch64-rpi3B-linux-musl              \
    --prefix=/usr                                  \
    --enable-languages=c,c++                       \
    --disable-lto                                  \
    --disable-nls                                  \
    --disable-shared                               \
    --disable-bootstrap                            \
    --disable-multilib                             \
    --disable-libsanitizer                         \
    --disable-decimal-float                        \
    --disable-threads                              \
    --disable-libatomic                            \
    --disable-libgomp                              \
    --disable-libmpx                               \
    --disable-libquadmath                          \
    --disable-libssp                               \
    --disable-libvtv                               \
    --disable-checking                             

