tar -xzf libressl-2.8.2.tar.gz 
cd libressl-2.8.2/
./configure --prefix=/usr --disable-shared
time make -j4
# 20 minutes on rpi3 :)
make tests
make install
cd /usr/lib
strip --strip-debug libcrypto.a
strip --strip-debug libssl.a 
strip --strip-debug libtls.a 
# note: certificates are in /usr/etc/, headers in /usr/include
cd /root
