./configure --disable-extra --disable-help --disable-histories --disable-libmagic \
           --disable-multibuffer  --disable-wrapping --disable-nls \
           --disable-speller --disable-tabcomp --disable-wordcomp --disable-largefile \
           --disable-threads --disable-rpath --enable-color

