# requires bison-2.6.4, which require perl5 (for build)
# then build and install libnl3

cd /usr/bin
ln -s gcc cc
cd ../include/
ln -s libnl3/netlink/ netlink

tar -xzf wpa_supplicant-2.7.tar.gz 
cd wpa_supplicant-2.7/
cd wpa_supplicant/
cp defconfig .config

make -j4
strip -s wpa_supplicant
cp wpa_supplicant /usr/bin
